<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>日历提醒</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/calendar.css"/>
</head>
<body>
<div class="wrap bgf8">
    <div class="addCusTop">
        日历提醒
        <span class="infoCusBtn" @click="jumpSeek()">编辑</span>
    </div>
    <div class="seeCalendar">
        <ul>
            <li>
                <span>提醒类别</span>
                <i>日常沟通</i>
            </li>
            <li>
                <span>客户姓名</span>
                <i>李思</i>
            </li>
            <li>
                <span>提醒日期</span>
                <i>2017-01-17</i>
            </li>
            <li>
                <span>设置提醒</span>
                <i>当天提醒醒</i>
            </li>
            <li>
                <span>备注</span>
                <i>日常沟通了解客户近期需要,日常沟通了解客户近期需要,日常沟通了解客户近期需要日常沟通了解客户近期需要</i>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>
<script src="../dist/js/calendarSeek.js"></script>