<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>合作邀请</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/cooperationInvite.css"/>
    <script src="../vender/weui/weui.min.js"></script>
</head>
<body>
    <div class="wrap wrapFlex">
        <div class="inviteTop">
            <span class="tab1 borderRight inviteActive">我要邀请理财顾问</span>
            <span class="tab2">我已邀请的理财顾问（3）</span>
        </div>
        <div class="inviteBottom">
            <div class="invitePanel1" >
                <div class="blurFilter"></div>
                <div class="opacity"></div>
                <div class="inviteInfo">
                    <img src="../images/head.png" alt="" class="inviteHeadImg"/>
                    <div class="infos">
                        <p>张看三  15666666666</p>
                        <p>北京金融财富管理有限公司</p>
                    </div>
                    <img src="../images/icon/phone.png" alt="" class="inviteTelImg"/>
                </div>
                <div class="content">
                    有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。
                    有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。
                    有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。
                    有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。
                    有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。
                    有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。
                    有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。
                    有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。 有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。 有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。 有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。 有多年金融行业经验，具有丰富的理财业务知识，熟知各项理财产品，能根据市场变化，兼顾客户个人情况，为其
                    提供个性化服务。


                </div>
                <div class="shareBtn">分享</div>
            </div>

            <div class="invitePanel2" style="display: none">
                <p class="allMoney">已累计获得佣金 <span class="colBlue">350000.00</span></p>
                <ul class="allList">
                    <p>
                        <span>姓名</span>
                        <i>累计签约金</i>
                    </p>
                    <li>
                        <span>张看三</span>
                        <b>159****6666</b>
                        <i>23561.00</i>
                    </li>
                    <li>
                        <span>张看三</span>
                        <b>159****6666</b>
                        <i>23561.00</i>
                    </li>
                    <li>
                        <span>张看三</span>
                        <b>159****6666</b>
                        <i>23561.00</i>
                    </li>
                    <li>
                        <span>张看三</span>
                        <b>159****6666</b>
                        <i>23561.00</i>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>
<script src="../dist/js/cooperationInvite.js"></script>