<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>客户信息</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/custom.css"/>
    <script src="../vender/weui/weui.min.js"></script>
</head>
<body>
    <div class="wrap wrapFlex">
        <div class="addCusTop">
            客户信息
            <span class="infoCusBtn" @click="infoTalkRecord()">详情</span>
            <!--<img src="../images/icon/add.png" alt="" class="addCusBtn" @click="addTalkRecord()"/>-->
        </div>
        <div class="customInfo">
            <ul>
                <li class="infoFirst">
                    <div class="nameLeft">
                        <span class="col33">张三啊</span>
                        <i class="col79">15666666666</i>
                    </div>
                    <div class="iconAll">
                        <img src="../images/icon/tel.png" alt=""/>
                        <img src="../images/icon/edit.png" alt="" @click="editTalkRecord()"/>
                        <img src="../images/icon/delete.png" alt=""/>
                    </div>
                </li>
                <li>
                    <a class="weui-cell weui-cell_access" href="javascript:;" @click="seeTalkRecord()">
                        <div class="weui-cell__bd">
                            <p>最近沟通记录</p>
                        </div>
                        <div class="weui-cell__ft">2016-12-29 12:12:12</div>
                    </a>
                </li>
                <li>
                    <div class="weui-cell">
                        <div class="weui-cell__bd origin">
                            <p>来源</p>
                        </div>
                        <div class="weui-cell__ft ">
                            <span>理财顾问入口</span>
                            <p class="originRemark">(注：只有理财顾问主动录入且未注册的用户允许删除)</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui-cell">
                        <div class="weui-cell__bd origin">
                            <p>注册时间</p>
                        </div>
                        <div class="weui-cell__ft ">2016-12-29</div>
                    </div>
                </li>
                <li>
                    <div class="weui-cell">
                        <div class="weui-cell__bd origin">
                            <p>投资笔数</p>
                        </div>
                        <div class="weui-cell__ft ">12笔</div>
                    </div>
                </li>
                <li>
                    <div class="weui-cell">
                        <div class="weui-cell__bd origin">
                            <p>投资金额</p>
                        </div>
                        <div class="weui-cell__ft ">100000元</div>
                    </div>
                </li>
                <li>
                    <div class="weui-cell">
                        <div class="weui-cell__bd origin">
                            <p>生日</p>
                        </div>
                        <div class="weui-cell__ft">
                            <span>2017-01-20</span>
                            <p>距离生日还有 <i class="colRed">29</i> 天</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="weui-cell">
                        <div class="weui-cell__bd origin">
                            <p>邮箱</p>
                        </div>
                        <div class="weui-cell__ft ">1566666666@163.com</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>
<script src="../dist/js/talkRecord.js"></script>