<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>信息披露</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/workroom.css"/>
    <script src="../vender/weui/weui.min.js"></script>
</head>
<body>
<div class="wrap wrapAuto bgGray">
    <div class="reportList bgF">
        <h1 class="reportName">长江二号私募股权基金</h1>
        <div class="reportTimeList">
            <p class="reportTime">2016-12-05</p>
            <p class="reportDetail">披露简介内容</p>

            <div class="weui-cells noMargin">
                <a class="weui-cell weui-cell_access newActive" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>八号私募股权股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
            </div>
        </div>
        <div class="reportTimeList">
            <p class="reportTime">2016-12-05</p>
            <p class="reportDetail">披露简介内容</p>

            <div class="weui-cells noMargin">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>八号私募股权股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
            </div>
        </div>
        <p class="checkCustom">查看投资客户</p>
    </div>

    <div class="reportList bgF">
        <h1 class="reportName">长江二号私募股权基金</h1>
        <div class="reportTimeList">
            <p class="reportTime">2016-12-05</p>
            <p class="reportDetail"></p>

            <div class="weui-cells noMargin">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>八号私募股权股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
            </div>
        </div>
        <p class="checkCustom">查看投资客户</p>

    </div>

    <div class="reportList bgF">
        <h1 class="reportName">长江二号私募股权基金</h1>
        <div class="reportTimeList">
            <p class="reportTime">2016-12-05</p>
            <p class="reportDetail">披露简介内容</p>

            <div class="weui-cells noMargin">
                <a class="weui-cell weui-cell_access newActive" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>八号私募股权股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
            </div>
        </div>

        <div class="reportTimeList">
            <p class="reportTime">2016-12-05</p>
            <p class="reportDetail">披露简介内容</p>

            <div class="weui-cells noMargin">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>八号私募股权股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
            </div>
        </div>
        <p class="checkCustom">查看投资客户</p>
    </div>
</div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>