<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>查看投资客户</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/workroom.css"/>
    <script src="../vender/weui/weui.min.js"></script>
</head>
<body>
<div class="wrap bgGray">
    <div class="customBox pt12 wrapAuto">
        <ul>
            <h2>***私募股权基金</h2>
            <li><span>预约单号:</span><i>10021236555645210</i></li>
            <li><span>预约时间:</span><i>2017-01-03 17:15</i></li>
            <li>
                <span>预约客户:</span>
                <i>王五</i>
                <img src="../images/icon/tels.png" alt="" class="telBtn"/>
            </li>
            <li><span>预约额度:</span><i>100万</i></li>
            <li><span>预计购买日期:</span><i>2017-01-10</i></li>
            <li><span>备注:</span><i>哈萨克斯坦</i></li>
            <li><span>状态:</span><i class="colBlue">已签约</i></li>
        </ul>
        <ul>
            <h2>***私募股权基金</h2>
            <li><span>预约单号:</span><i>10021236555645210</i></li>
            <li><span>预约时间:</span><i>2017-01-03 17:15</i></li>
            <li><span>预约客户:</span><i>王五</i><img src="../images/icon/tels.png" alt="" class="telBtn"/></li>
            <li><span>预约额度:</span><i>100万</i></li>
            <li><span>预计购买日期:</span><i>2017-01-10</i></li>
            <li><span>备注:</span><i>哈萨克斯坦</i></li>
            <li><span>状态:</span><i class="colBlue">已签约</i></li>
        </ul>
    </div>
</div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>