<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>个人设置-修改密码</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/personSetting.css"/>
    <script src="../vender/weui/weui.min.js"></script>
</head>
<body>
<div class="wrap bgF">
    <form action="" class="wrapForm">
        <div class="weui-cell weui-cell_boder">
            <div class="weui-cell__hd"><label class="weui-label">当前手机号</label></div>
            <div class="weui-cell__bd myPhone">15666666666</div>
        </div>
        <div class="weui-cell weui-cell_boder">
            <div class="weui-cell__hd"><label class="weui-label">原密码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="请填写原密码" maxlength="16" v-model="passwd" v-bind="passVd()"/>
            </div>
        </div>
        <div class="weui-cell weui-cell_boder">
            <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="请填写新密码" maxlength="16" v-model="passwd2" v-bind="setPass()"/>
            </div>
        </div>
        <div class="weui-cell weui-cell_boder border_b">
            <div class="weui-cell__hd"><label class="weui-label">确认新密码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="请重复填写新密码" maxlength="16" v-model="passwd3" v-bind="confirmPass()"/>
            </div>
        </div>
        <a v-if="(this.passwd).length >=6 && (this.passwd2).length >=6 && (this.passwd3).length >=6"  class="weui-btn weui-btn_primary formBtn" @click="loginValidate2()">确定</a>
        <a v-else href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_primary formBtn">确定</a>

    </form>

</div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>