<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>佣金统计</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/workroom.css"/>
    <script src="../vender/weui/weui.min.js"></script>
</head>
<body>
    <div class="wrap bgGray wrapAuto">
        <div class="countCard">
            <div class="cardTop">
                <h1>4680.00</h1>
                <span>佣金总额（元）</span>
            </div>
            <div class="cardBottom">
                <div class="signNum">
                    <h3>1800.00</h3>
                    <span>业绩总额（万元）</span>
                </div>
                <div class="signNum">
                    <h3>50.00</h3>
                    <span>签约总额（万元）</span>
                </div>
            </div>
        </div>
        <div class="countBox">
            <div class="weui-cells countList">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>2016年12月</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>佣金金额（元）</p>
                    </div>
                    <div class="weui-cell__ft">156.111</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>业绩（万元）</p>
                    </div>
                    <div class="weui-cell__ft">1562.00</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>签约金额（万元）</p>
                    </div>
                    <div class="weui-cell__ft">1800.00</div>
                </div>
            </div>
            <div class="weui-cells countList">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>2016年11月</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>佣金金额（元）</p>
                    </div>
                    <div class="weui-cell__ft">156.111</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>业绩（万元）</p>
                    </div>
                    <div class="weui-cell__ft">1562.00</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>签约金额（万元）</p>
                    </div>
                    <div class="weui-cell__ft">1800.00</div>
                </div>
            </div>
            <div class="weui-cells countList">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>2016年10月</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>佣金金额（元）</p>
                    </div>
                    <div class="weui-cell__ft">156.111</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>业绩（万元）</p>
                    </div>
                    <div class="weui-cell__ft">1562.00</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>签约金额（万元）</p>
                    </div>
                    <div class="weui-cell__ft">1800.00</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>