<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../dist/css/team.css"/>
    <script src="../vender/weui/weui.min.js"></script>
    <script src="../dist/js/jquery-1.12.3.min.js"></script>
    <script src="../dist/js/vue.min.js"></script>
</head>
<body>
    <div class="wrap bgF">
        <div class="team">
            <div class="teams teams1">
                <div class="teamTop">
                    <div class="icon">
                        <img src="../images/team.png" alt=""/>
                    </div>
                    <div class="myTeam">
                        我的团队
                        <span class="down fr"></span>
                    </div>
                </div>
                <div class="hidden">
                    <div class="teamNum">
                       <span class="teamTitle">团队成员</span>
                        <span class="compare">(较上月减少50人)</span>
                        <span class="peopleNum fr">40人</span>
                    </div>
                    <div class="completeRate">
                        <p class="teamTitle">业绩完成率</p>
                        <div class="teamImg">
                            <img src="../images/rate.png" alt="" class="rateImg"/>
                        </div>
                        <div class="ratePeople">
                            <span class="rate80">50人</span>
                            <span class="rateMid">30人</span>
                            <span class="rate60">100人</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teams teams2">
                <div class="teamTop">
                    <div class="icon">
                        <img src="../images/partment.png" alt=""/>
                    </div>
                    <div class="myTeam">
                        部门
                        <span class="down fr"></span>
                    </div>
                </div>
                <div class="hidden">
                    <div class="apartList">
                        <div class="apartTops survey borderR">
                            <b>研究部</b>
                            <span>部门人数 <i>87</i>人</span>
                            <span>已完成业绩 <i>800</i>万</span>
                        </div>
                        <div class="apartTops tec">
                            <b>技术中心</b>
                            <span>部门人数 <i>42</i>人</span>
                            <span>已完成业绩 <i>500</i>万</span>
                        </div>
                    </div>
                    <div class="apartList">
                        <div class="apartTops sale borderR">
                            <b>销售</b>
                            <span>部门人数 <i>42</i>人</span>
                            <span>已完成业绩 <i>500</i>万</span>
                        </div>
                        <div class="apartTops tec">
                            <b>销售二</b>
                            <span>部门人数 <i>42</i>人</span>
                            <span>已完成业绩 <i>500</i>万</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teams teams3">
                <div class="teamTop">
                    <div class="icon">
                        <img src="../images/yeji.png" alt=""/>
                    </div>
                    <div class="myTeam">
                        销售业绩
                        <span class="down fr"></span>
                    </div>
                </div>
                <div class="hidden" >
                    <div class="remark">
                        <div class="remarkList"><span>本月目标</span><i class="colGay">5000元</i></div>
                        <div class="remarkList"><span>签约金额</span><i class="colGay">300元</i></div>
                        <div class="remarkList"><span>预约金额</span><i class="colGay">400万美元+500万元</i></div>
                    </div>
                </div>
            </div>
            <div class="teams teams4">
                <div class="teamTop">
                    <div class="icon">
                        <img src="../images/yeji.png" alt=""/>
                    </div>
                    <div class="myTeam">
                        产品销售
                        <span class="down fr"></span>
                    </div>
                </div>
                <div class="hidden">
                    <ul class="sales">
                        <li>
                            <h2>长江二号私募股权基金</h2>
                            <div class="money">
                                <p class="moneyBlue">
                                    完成金额
                                    <span>490<b>万元</b></span>
                                </p>
                                <p class="moneyOrange">
                                    预约金额
                                    <span>490<b>万元</b></span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <h2>长江二号私募股权基金</h2>
                            <div class="money">
                                <p class="moneyBlue">
                                    完成金额
                                    <span>490<b>万元</b></span>
                                </p>
                                <p class="moneyOrange">
                                    预约金额
                                    <span>490<b>万元</b></span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <h2>长江二号私募股权基金</h2>
                            <div class="money">
                                <p class="moneyBlue">
                                    完成金额
                                    <span>490<b>万元</b></span>
                                </p>
                                <p class="moneyOrange">
                                    预约金额
                                    <span>490<b>万元</b></span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="teams teams5">
                <div class="teamTop ">
                    <div class="icon">
                        <img src="../images/partment.png" alt=""/>
                    </div>
                    <div class="myTeam noBorder">
                        我的团队客户
                        <span class="down fr"></span>
                    </div>
                </div>
                <div class="hidden">
                    <ul class="custom">
                        <li>注册客户数<span class="fr">100000000人</span></li>
                        <li>已签约客户数<span class="fr">20000人</span></li>
                        <li>本月新增注册客户数<span class="fr">1000人</span></li>
                        <li>本月新增签约客户数<span class="fr">7514人</span></li>
                        <li>本月签约客户数<span class="fr">5656人</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="../dist/js/team.js"></script>
    <!--<script src="../js/highcharts.js"></script>-->
    <script src="../dist/js/common.js"></script>
</body>
</html>

