<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>预约处理</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../vender/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="../dist/css/order.css"/>
    <script src="../vender/weui/weui.min.js"></script>
</head>
<body>
    <div class="wrap bgGray">
        <div class="orderTop">
            <div class="swiper-pagination"></div>
            <span class="swiper-slide-b"></span>
            <span class="swiper-slide-c"></span>
        </div>
        <div class="orderBox">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul class="dealList">
                            <li>
                                <h3>六号私募股权基金</h3>
                                <p><span>预约单号：</span><i>1002325641233</i></p>
                                <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                                <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                                <p><span>预约金额：</span><i>50万</i></p>
                                <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                                <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                    就是测试就是测试就是测试就是测试</i></p>
                                <p><span>状态：</span><i class="colOrange">待签约</i></p>
                                <p class="padB15"><span>实际签约金额：</span><i>562万</i></p>
                                <div class="setting">
                                    <span class="borderRight colGray">受理</span><span class="borderRight modify">修改</span><span class="colRed">拒绝</span>
                                </div>
                            </li>
                            <li>
                                <h3>六号私募股权基金</h3>
                                <p><span>预约单号：</span><i>1002325641233</i></p>
                                <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                                <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                                <p><span>预约金额：</span><i>50万</i></p>
                                <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                                <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                    就是测试就是测试就是测试就是测试</i></p>
                                <p><span>状态：</span><i class="colOrange">待签约</i></p>
                                <p class="padB15"><span>实际签约金额：</span><i>562万</i></p>
                                <div class="setting">
                                    <span class="borderRight colGray">受理</span><span class="borderRight modify">修改</span><span class="colRed">拒绝</span>
                                </div>
                            </li>
                            <li>
                                <h3>六号私募股权基金</h3>
                                <p><span>预约单号：</span><i>1002325641233</i></p>
                                <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                                <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                                <p><span>预约金额：</span><i>50万</i></p>
                                <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                                <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                    就是测试就是测试就是测试就是测试</i></p>
                                <p><span>状态：</span><i class="colOrange">待签约</i></p>
                                <p class="padB15"><span>实际签约金额：</span><i>562万</i></p>
                                <div class="setting">
                                    <span class="borderRight colGray">受理</span><span class="borderRight modify">修改</span><span class="colRed">拒绝</span>
                                </div>
                            </li>
                            <li>
                                <h3>六号私募股权基金</h3>
                                <p><span>预约单号：</span><i>1002325641233</i></p>
                                <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                                <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                                <p><span>预约金额：</span><i>50万</i></p>
                                <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                                <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                    就是测试就是测试就是测试就是测试</i></p>
                                <p><span>状态：</span><i class="colOrange">待签约</i></p>
                                <p class="padB15"><span>实际签约金额：</span><i>562万</i></p>
                                <div class="setting">
                                    <span class="borderRight colGray">受理</span><span class="borderRight modify">修改</span><span class="colRed">拒绝</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="dealList">
                            <li>
                                <h3>六号私募股权基金</h3>
                                <p><span>预约单号：</span><i>1002325641233</i></p>
                                <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                                <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                                <p><span>预约金额：</span><i>50万</i></p>
                                <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                                <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                    就是测试就是测试就是测试就是测试</i></p>
                                <p><span>状态：</span><i class="colBlue">已签约</i></p>
                                <p class="padB15"><span>实际签约金额：</span><i>562万</i></p>
                            </li>
                            <li>
                                <h3>六号私募股权基金</h3>
                                <p><span>预约单号：</span><i>1002325641233</i></p>
                                <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                                <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                                <p><span>预约金额：</span><i>50万</i></p>
                                <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                                <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                    就是测试就是测试就是测试就是测试</i></p>
                                <p><span>状态：</span><i class="colBlue">已签约</i></p>
                                <p class="padB15"><span>实际签约金额：</span><i>562万</i></p>
                            </li><li>
                            <h3>六号私募股权基金</h3>
                            <p><span>预约单号：</span><i>1002325641233</i></p>
                            <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                            <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                            <p><span>预约金额：</span><i>50万</i></p>
                            <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                            <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                就是测试就是测试就是测试就是测试</i></p>
                            <p><span>状态：</span><i class="colBlue">已签约</i></p>
                            <p class="padB15"><span>实际签约金额：</span><i>562万</i></p>
                        </li><li>
                            <h3>六号私募股权基金</h3>
                            <p><span>预约单号：</span><i>1002325641233</i></p>
                            <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                            <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                            <p><span>预约金额：</span><i>50万</i></p>
                            <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                            <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                就是测试就是测试就是测试就是测试</i></p>
                            <p><span>状态：</span><i class="colBlue">已签约</i></p>
                            <p class="padB15"><span>实际签约金额：</span><i>562万</i></p>
                        </li>


                         </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="dealList">
                            <li>
                                <h3>六号私募股权基金</h3>
                                <p><span>预约单号：</span><i>1002325641233</i></p>
                                <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                                <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                                <p><span>预约金额：</span><i>50万</i></p>
                                <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                                <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                    就是测试就是测试就是测试就是测试</i></p>
                                <p><span>状态：</span><i class="colRed">预约不成功</i></p>
                                <p><span>实际签约金额：</span><i>562万</i></p>
                                <div class="delete">删除</div>
                            </li>
                            <li>
                                <h3>六号私募股权基金</h3>
                                <p><span>预约单号：</span><i>1002325641233</i></p>
                                <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                                <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                                <p><span>预约金额：</span><i>50万</i></p>
                                <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                                <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                    就是测试就是测试就是测试就是测试</i></p>
                                <p><span>状态：</span><i class="colRed">预约不成功</i></p>
                                <p><span>实际签约金额：</span><i>562万</i></p>
                                <div class="delete">删除</div>
                            </li><li>
                            <h3>六号私募股权基金</h3>
                            <p><span>预约单号：</span><i>1002325641233</i></p>
                            <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                            <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                            <p><span>预约金额：</span><i>50万</i></p>
                            <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                            <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                就是测试就是测试就是测试就是测试</i></p>
                            <p><span>状态：</span><i class="colRed">预约不成功</i></p>
                            <p><span>实际签约金额：</span><i>562万</i></p>
                            <div class="delete">删除</div>
                        </li><li>
                            <h3>六号私募股权基金</h3>
                            <p><span>预约单号：</span><i>1002325641233</i></p>
                            <p><span>预约时间：</span><i>2016-12-24 13:50</i></p>
                            <p><span>预约客户：</span><i>王五（独立理财师：李四）</i></p>
                            <p><span>预约金额：</span><i>50万</i></p>
                            <p><span>预计购买日期：</span><i>2016-12-25</i></p>
                            <p><span>备注：</span><i>就是测试啦，就是测试。多谢多谢!就是测试,
                                就是测试就是测试就是测试就是测试</i></p>
                            <p><span>状态：</span><i class="colRed">预约不成功</i></p>
                            <p><span>实际签约金额：</span><i>562万</i></p>
                            <div class="delete">删除</div>
                        </li>


                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>

</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../vender/swiper/swiper.min.js"></script>
<script src="../dist/js/common.js"></script>
<script src="../dist/js/order.js"></script>

