<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <title>问题详情</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/font/iconfont.css"/>
    <link rel="stylesheet" href="../dist/css/index.css"/>
</head>
<body>
<div class="wrap wrapF">
    <div class="page__bd">
        <article class="weui-article">
            <h1>产品如何赎回？</h1>
            <section>
                <p>
                    当产品到期，无需你进行任何操作，系统会在三个工作肉内将您的本金和收益打入您绑定的银行卡内。详情可以点击“我的财富”，
                    查看购买产品的《出借咨询与服务协议》。
                </p>
            </section>
            <section>
                <p>
                    当产品到期，无需你进行任何操作，系统会在三个工作肉内将您的本金和收益打入您绑定的银行卡内。详情可以点击“我的财富”，
                    查看购买产品的《出借咨询与服务协议》。
                </p>
            </section>
        </article>
    </div>

</div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>