<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <title>产品详情-基本详情</title>

    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/index.css"/>
</head>
<body>
<div class="wrap wrapflex">
    <div class="headerTop ">
        <div class="topImg imgBlur"></div>
        <div class="opacity6"></div>
        <div class="topCon headerB">
            <h1 class="top_title">六号私募股权基金</h1>
            <span class="expect">6.3% ~ 8.5%</span>
            <p class="opacity5">预期年化收益</p>
            <p>限期短，流动性好；攻守兼备，随退随分，流动性好。限期短，流动性好；攻守兼备，
                随退随分，流动性好。随退随分，流动性好。</p>
        </div>
    </div>
    <div class="bottom">
        <div class="bottomTab">
            <div class="bottomTab_item coleaea weui-navbar__item1">
                基本信息
            </div>
            <div class="bottomTab_item weui-navbar__item2">
                募集账号
            </div>
            <div class="bottomTab_item weui-navbar__item3">
                产品公告
            </div>
        </div>
        <div class="bottomTab_panel">
            <div class="panels panelBasic">
                <article class="weui-article">
                    <h2 class="title">章标题</h2>
                    <section>
                        <h3>1.1 节标题</h3>
                        <p>
                            在2000年以后，在多数人印象中：中国经济一直高速发展；各行各业生机勃勃；房地产持续
                            飞涨；人民币单边升值；各种银行理财、资管计划、信托等固定收益是高收益无风险的；股市
                            通常脉冲式疯狂然后奄奄一息；股权投资，只知其名，不知其实；大宗商品是高科技，毫无
                            世俗感；国内保险代理人走街串巷，海外保险偶尔在豪门恩怨中略有一二。

                        </p>
                        <p>
                            <img src="../images/img.jpg" alt="">
                        </p>
                    </section>
                </article>
                <div class="pdf">
                    <div class="weui-cells noMargin">
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>八号私募股权股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
                <div class="videos videoMb">
                    <!--<video src=""></video>-->
                    <div class="video1">
                        <!--<img src="../images/video1.jpg" alt=""/>-->
                        <video src="../video/video.mp4" controls="controls"></video>
                        <span>产品介绍视频</span>
                    </div>
                    <div class="video2">
                        <img src="../images/video2.jpg" alt=""/>
                        <span>产品介绍视频2</span>
                    </div>
                </div>
                <div class="riskTips">
                    <h2 class="riskTipsTitle">风险提示</h2>
                    <div class="riskArticle" >
                        <h3>政策风险:</h3>
                        <p>国家或地方相关政策如货币政策、财政政策、税收政策、产业政策、
                        投资政策及相关配套法规的调整与变化，可能会影响基金项下证券投资的收益水平。</p>
                    </div>
                    <div class="riskArticle" >
                        <h3>市场风险:</h3>
                        <p>本基金项下的基金资金主要用于证券投资，因证券市场受经济周期、上市公司经营情况、
                        市场竞争环境等相关因素影响，价格波动较大，因此证券投资存在较大市场风险，本基金
                        项下的基金资金存在亏损甚至基金本金全部亏损的可能。</p>
                    </div>
                    <div class="riskArticle" >
                        <h3>管理风险:</h3>
                        <p>本基金项下的基金资金主要用于证券投资，因证券市场受经济周期、上市公司经营情况、市场
                        竞争环境等相关因素影响，价格波动较大，因此证券投资存在较大市场风险，本基金项下的基金资
                        金存在亏损甚至基金本金全部亏损的可能。</p>
                    </div>
                </div>
            </div>
            <div class="panels panelAccount dis" >
                <div class="weui-cells weui-cells_form" style="margin-top: -1px">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">开户名</label></div>
                        <div class="weui-cell__bd">
                            <span>六号私募股权基金国信募集专户</span>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">募集银行</label></div>
                        <div class="weui-cell__bd">
                            <span>中国中信银行北京建国门支行</span>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">募集账号</label></div>
                        <div class="weui-cell__bd">
                            <span>9558 8540 0000 01871 321</span>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">打款备注</label></div>
                        <div class="weui-cell__bd">
                            <span>张看三 六号私募股权基金股权基金</span>
                        </div>
                    </div>
                </div>
                <div class="copy">
                    <label class="copyBtn">复制募集账号信息</label>
                </div>

            </div>
            <div class="panels panelReform dis">
                <div class="pdf">
                    <div class="weui-cells" style="margin-top: -1px">
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>八号私募股权股权母基金第报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>八号私募股权股权母基金第报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>八号私募股权股权母基金第报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>股权母基金第三季度报告</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="share">
        <span class="shareBtn">分享</span>
        <span class="subscribe" @click="yuyueBtn()">预约</span>
    </div>
</div>
</body>
</html>


<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>
<script src="../dist/js/tab.js"></script>
<script src="../dist/js/product.js"></script>
