<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <title>产品详情-基本详情-保险</title>

    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/index.css"/>
</head>
<body>

<div class="wrap wrapflex">
    <div class="top">
        <div class="topImg imgBlur"></div>
        <div class="opacity6"></div>
        <div class="topCon">
            <h1 class="top_title">六号私募股权基金</h1>
            <p>限期短，流动性好；攻守兼备，随退随分，流动性好。限期短，流动性好；攻守兼备，随退随分，流动性好。</p>
        </div>
    </div>
    <div class="bottom">
        <h3 class="bottomTitle">基本信息</h3>
        <article class="weui-article">
            <h2 class="title">章标题</h2>
            <section>
                <h3>1.1 节标题</h3>
                <p>
                    在2000年以后，在多数人印象中：中国经济一直高速发展；各行各业生机勃勃；房地产持续飞涨；人民币单边升值；各种银行理财、资管计划、信托等固定收益是高收益无风险的；股市通常脉冲式疯狂然后奄奄一息；股权投资，只知其名，不知其实；大宗商品是高科技，毫无世俗感；国内保险代理人走街串巷，海外保险偶尔在豪门恩怨中略有一二。

                </p>
                <p>
                    <img src="../images/img.jpg" alt="">
                </p>
            </section>
            <section>
                <h3>1.2 节标题</h3>
                <p>
                    但2012，2013年后，中国经济进入习大大称之为“三期叠加”发展阶段。突然大家发现，经济世界陌生了，开始不那么井井有条：生意不好做了；房地产时不时一波让人心慌的疯涨；人民币开始贬值；固收类产品开始违约，甚至有的让投资者血本无归；股市依旧深不可测；新三板、衍生品、大宗商品，股权投资、境外保险、境外房产、移民、P2P、众筹、量化对冲、智能理财等等，一些新选择，扑面而来……

                </p>
            </section>
        </article>
        <div class="pdf">
            <div class="weui-cells noMargin" style="margin-top: 0">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>八号私募股权股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd"><img src="../images/pdf.png" alt="" style="width:0.29rem;height:0.29rem;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p>股权母基金第三季度报告</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
            </div>
        </div>
        <div class="videos videoMb">
            <!--<video src=""></video>-->
            <div class="video1">
                <img src="../images/video1.jpg" alt=""/>
                <span>产品介绍视频</span>
            </div>
            <div class="video2">
                <img src="../images/video2.jpg" alt=""/>
                <span>产品介绍视频2</span>
            </div>
        </div>
    </div>
    <div class="share">
        <span class="seeMore">查看更多产品</span>
    </div>
</div>
</body>
</html>

<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>
<script src="../dist/js/tab.js"></script>