<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>搜索</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/custom.css"/>
    <script src="../vender/weui/weui.min.js"></script>
</head>
<body>
    <div class="wrap wrapFlex">
        <div class="searchBox">
            <div class="searchBar">
                <img src="../images/icon/search.png" alt=""/>
                <input type="text" placeholder="星球大作战"/>
            </div>
            <span class="searchBtn">搜索</span>
        </div>
        <div class="searchCon">
            <ul>
                <li>
                    <span class="name">李毅</span>
                    <span class="tel">115901322113</span>
                </li>
                <li>
                    <span class="name">赵六</span>
                    <span class="tel">115901322113</span>
                </li>
                <li>
                    <span class="name">琪琪</span>
                    <span class="tel">115901322113</span>
                </li><li>
                <span class="name">杜红</span>
                <span class="tel">115901322113</span>
            </li>

            </ul>
        </div>
    </div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>