<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <title>服务支持</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/font/iconfont.css"/>
    <link rel="stylesheet" href="../dist/css/index.css"/>
</head>
<body>
<div class="wrap">
    <div class="weui-cells__title titleHeight">联系远程坐席</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>客服电话</p>
            </div>
            <div class="weui-cell__ft"><a href="tel://010-66667777" class="telColor">010-66667777</a></div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>行政部门</p>
            </div>
            <div class="weui-cell__ft"><a href="tel://010-66667777" class="telColor">010-66669999</a></div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>IT支持部门</p>
            </div>
            <div class="weui-cell__ft"><a href="tel://010-66668888" class="telColor">010-66668888</a></div>
        </div>
    </div>

    <div class="weui-cells__title titleHeight30"> </div>
    <div class="weui-cells height43">
        <a class="weui-cell weui-cell_access" href="./commonProblem.html">
            <div class="weui-cell__bd">
                <p>常见问题</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
</div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>