<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>用户沟通记录</title>
    <link rel="stylesheet" href="../dist/css/reset.css"/>
    <link rel="stylesheet" href="../vender/weui/weui.min.css"/>
    <link rel="stylesheet" href="../dist/css/record.css"/>
    <script src="../vender/weui/weui.min.js"></script>
</head>
<body>
    <div class="wrap wrapAuto wrapFlex">
        <div class="addCusTop">
            沟通记录
            <img src="../images/icon/add.png" alt="" class="addCusBtn" @click="addTalkRecord()"/>
        </div>
        <div class="addCusBottom wrapAuto">
            <ul class="communicate">
                <li><span>客户</span><i>张三</i></li>
                <li><span>沟通时间</span><i>2016-12-26</i></li>
                <li><span>是否提醒</span><i>是</i></li>
                <li class="noBorder"><span>沟通内容</span><i class="pad12">怒都是初步的传播你的手机，都被我出多少。成绩单丝成绩单丝，的new个合成符给我。</i></li>
            </ul>
            <ul class="communicate">
                <li><span>客户</span><i>张三</i></li>
                <li><span>沟通时间</span><i>2016-12-26</i></li>
                <li><span>是否提醒</span><i>是</i></li>
                <li class="noBorder"><span>沟通内容</span><i class="pad12">怒都是初步的传播你的手机，都被我出多少。成绩单丝成绩单丝，的new个合成符给我。</i></li>
            </ul>
            <ul class="communicate">
                <li><span>客户</span><i>张三</i></li>
                <li><span>沟通时间</span><i>2016-12-26</i></li>
                <li><span>是否提醒</span><i>是</i></li>
                <li class="noBorder"><span>沟通内容</span><i class="pad12">怒都是初步的传播你的手机，都被我出多少。成绩单丝成绩单丝，的new个合成符给我。</i></li>
            </ul>
            <ul class="communicate">
                <li><span>客户</span><i>张三</i></li>
                <li><span>沟通时间</span><i>2016-12-26</i></li>
                <li><span>是否提醒</span><i>是</i></li>
                <li class="noBorder"><span>沟通内容</span><i class="pad12">怒都是初步的传播你的手机，都被我出多少。成绩单丝成绩单丝，的new个合成符给我。</i></li>
            </ul>
        </div>

    </div>
</body>
</html>
<script src="../dist/js/jquery-1.12.3.min.js"></script>
<script src="../dist/js/vue.min.js"></script>
<script src="../dist/js/common.js"></script>
<script src="../dist/js/userCommunication.js"></script>