<!--<style>
    @import url('../../../vender/weui/weui.min.css');
    @import url('../../../vender/swiper/swiper.min.css');
    @import url('../../../dist/css/discovered.css');
</style>-->

<head>
	<link href="../../../vender/weui/weui.min.css" type="text/css" />
	<link href="../../../vender/swiper/swiper.min.css" type="text/css" />
	<link href="../../../dist/css/discovered.css" type="text/css" />
</head>

<div class="sectionBox">
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide colorGreen">
                    <img src="../../../images/img3.jpg" alt=""/>
                </div>
                <div class="swiper-slide colorPurple">
                    <img src="../../../images/img.jpg" alt=""/>
                </div>
                <div class="swiper-slide colorPink">
                    <img src="../../../images/img4.jpg" alt=""/>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="content">
        <div class="tab">
            <span class="tabBtn tabsb tabBtn1 tabActive">资讯</span>
            <span class="tabBtn tabBtn2">资源</span>
        </div>
        <div class="panel">
            <div class="tabs activeShow panel1">
                <div class="weui-panel__bd">
                    <a href="javascript:void(0);" class="weui-media-box newsA" @click="jumpNews()">
                        <div class="newsCon">
                            <div class="newsImg">
                                <img class="weui-media-box__thumb" src="../../../images/ebg.jpg" alt="">
                            </div>
                            <div class="newsRight">
                                <h4>怎样和怎样和默认客户加微信好友默认客户加微信好友</h4>
                                <p>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。
                                    质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，
                                    叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，叫做星球。星球有一定
                                    的形状，有自己</p>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="weui-media-box newsA"  @click="jumpZixun()">
                        <div class="newsCon">
                            <div class="newsImg">
                                <img class="weui-media-box__thumb" src="../../../images/ebg.jpg" alt="">
                            </div>
                            <div class="newsRight">
                                <h4>怎样和怎样和默认客户加微信好友默认客户加微信好友</h4>
                                <p>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。
                                    质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，
                                    叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，叫做星球。星球有一定
                                    的形状，有自己</p>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="weui-media-box newsA">
                        <div class="newsCon">
                            <div class="newsImg">
                                <img class="weui-media-box__thumb" src="../../../images/ebg.jpg" alt="">
                            </div>
                            <div class="newsRight">
                                <h4>怎样和怎样和默认客户加微信好友默认客户加微信好友</h4>
                                <p>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。
                                    质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，
                                    叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，叫做星球。星球有一定
                                    的形状，有自己</p>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="weui-media-box newsA">
                        <div class="newsCon">
                            <div class="newsImg">
                                <img class="weui-media-box__thumb" src="../../../images/ebg.jpg" alt="">
                            </div>
                            <div class="newsRight">
                                <h4>怎样和怎样和默认客户加微信好友默认客户加微信好友</h4>
                                <p>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。
                                    质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，
                                    叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，叫做星球。星球有一定
                                    的形状，有自己</p>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="weui-media-box newsA">
                        <div class="newsCon">
                            <div class="newsImg">
                                <img class="weui-media-box__thumb" src="../../../images/ebg.jpg" alt="">
                            </div>
                            <div class="newsRight">
                                <h4>怎样和怎样和默认客户加微信好友默认客户加微信好友</h4>
                                <p>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。
                                    质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，
                                    叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，叫做星球。星球有一定
                                    的形状，有自己</p>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="weui-media-box newsA">
                        <div class="newsCon">
                            <div class="newsImg">
                                <img class="weui-media-box__thumb" src="../../../images/ebg.jpg" alt="">
                            </div>
                            <div class="newsRight">
                                <h4>怎样和怎样和默认客户加微信好友默认客户加微信好友</h4>
                                <p>由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。
                                    质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，
                                    叫做星球。星球有一定的形状，有自己质组成的巨型球状天体，叫做星球。星球有一定
                                    的形状，有自己</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tabs activeHide panel2">
                <div class="resource">
                    <a href="javascript:void(0);" class="resourceA weui-media-box" @click="jumpNews()">
                        <div class="resourceT">
                            <img src="../../../images/ebg.jpg" alt=""/>
                            <div class="title">
                                <h4>当前经济环境下的资产配置当前经济环境下的资产配置</h4>
                                <span>活动时间：2016-11-6 13:00</span>
                            </div>
                        </div>
                        <p class="resourceB">
                            过去十年是P2P的时代，未来十年是FOF的时代!!
                        </p>
                    </a>
                    <a href="javascript:void(0);" class="resourceA weui-media-box">
                        <div class="resourceT">
                            <img src="../../../images/ebg.jpg" alt=""/>
                            <div class="title">
                                <h4>当前经济环境下的资产配置</h4>
                                <span>活动时间：2016-11-6 13:00</span>
                            </div>
                        </div>
                        <p class="resourceB">
                            过去十年是P2P的时代，未来十年是FOF的时代!!
                            过去十年是P2P的时代，未来十年是FOF的时代!!
                            过去十年是P2P的时代，未来十年是FOF的时代!!
                            过去十年是P2P的时代，未来十年是FOF的时代!!
                        </p>
                    </a>
                    <a href="javascript:void(0);" class="resourceA weui-media-box">
                        <div class="resourceT">
                            <img src="../../../images/ebg.jpg" alt=""/>
                            <div class="title">
                                <h4>当前经济环境下的资产配置</h4>
                                <span>活动时间：2016-11-6 13:00</span>
                            </div>
                        </div>
                        <p class="resourceB">
                            过去十年是P2P的时代，未来十年是FOF的时代!!
                        </p>
                    </a>
                </div>
                <div class="history">
                    <span class="hisBorder">历史活动</span>
                    <div class="weui-panel__bd historyCon">
                        <a href="javascript:void(0);" class="weui-media-box resourceA">
                            <div class="resourceT">
                                <img src="../../../images/ebg.jpg" alt=""/>
                                <div class="title">
                                    <h4>当前经济环境下的资产配置当前经济环境下的资产配置</h4>
                                    <span>活动时间：2016-11-6 13:00</span>
                                </div>
                            </div>
                            <p class="resourceB">
                                过去十年是P2P的时代，未来十年是FOF的时代!!
                            </p>
                        </a>
                        <a href="javascript:void(0);" class="weui-media-box resourceA">
                            <div class="resourceT">
                                <img src="../../../images/ebg.jpg" alt=""/>
                                <div class="title">
                                    <h4>当前经济环境下的资产配置当前经济环境下的资产配置</h4>
                                    <span>活动时间：2016-11-6 13:00</span>
                                </div>
                            </div>
                            <p class="resourceB">
                                过去十年是P2P的时代，未来十年是FOF的时代!!
                            </p>
                        </a>
                        <a href="javascript:void(0);" class="weui-media-box resourceA">
                            <div class="resourceT">
                                <img src="../../../images/ebg.jpg" alt=""/>
                                <div class="title">
                                    <h4>当前经济环境下的资产配置当前经济环境下的资产配置</h4>
                                    <span>活动时间：2016-11-6 13:00</span>
                                </div>
                            </div>
                            <p class="resourceB">
                                过去十年是P2P的时代，未来十年是FOF的时代!!
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
