<style>
    @import url('../../../vender/swiper/swiper.min.css');
</style>
<div class="wrapFlex">
    <nav>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="keyBox">
                        <span class="keyWord activeKeyWord">私募股权</span>
                        <span class="keyWord">保险服务</span>
                        <span class="keyWord">地产基金</span>
                        <span class="keyWord">私募股权债</span>
                        <span class="keyWord">保险服务</span>
                        <span class="keyWord">私募股权债</span>
                        <span class="keyWord">私募股权</span>
                        <span class="keyWord">保险服务保险服务</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="keyBox">
                        <span class="keyWord">私募股权</span>
                        <span class="keyWord">保险服务</span>
                        <span class="keyWord">地产基金</span>
                        <span class="keyWord">私募股权债</span>
                        <span class="keyWord">保险服务</span>
                        <span class="keyWord">私募股权债</span>
                        <span class="keyWord">私募股权</span>
                        <span class="keyWord">保险服务保险服务</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="keyBox">
                        <span class="keyWord">私募股权</span>
                        <span class="keyWord">保险服务</span>
                        <span class="keyWord">地产基金</span>
                        <span class="keyWord">私募股权债</span>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination" style="position: static"></div>
        </div>
    </nav>
    <div style="display: block" id="wrapper">
        <ul>
            <li class="productList survey" @click="jump()">
                <img src="../../../images/img1.jpg" alt="" class="ProduceLogo"/>
                <div class="opacity6"></div>
                <div class="productTime">
                    <p class="productDesc">
                        <span class="productTitle">二号私募投资基金会</span><br/>
                            <span class="productDescs">
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资， 投资投资白拿理财投资
                            </span>
                    </p>
                    起投金额：100万 /
                    产品期限：24+12个月
                </div>
            </li>
            <li class="productList survey">
                <img src="../../../images/img1.jpg" alt="" class="ProduceLogo"/>
                <div class="opacity6"></div>
                <div class="productTime">
                    <p class="productDesc">
                        <span class="productTitle">二号私募投资基金会</span><br/>
                            <span class="productDescs">
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资， 投资投资白拿理财投资
                            </span>
                    </p>
                    起投金额：100万 /
                    产品期限：24+12个月
                </div>
            </li>
            <li class="productList survey">
                <img src="../../../images/img1.jpg" alt="" class="ProduceLogo"/>
                <div class="opacity6"></div>
                <div class="productTime">
                    <p class="productDesc">
                        <span class="productTitle">二号私募投资基金会</span><br/>
                            <span class="productDescs">
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资， 投资投资白拿理财投资
                            </span>
                    </p>
                    起投金额：100万 /
                    产品期限：24+12个月
                </div>
            </li>
            <li class="productList survey">
                <img src="../../../images/img1.jpg" alt="" class="ProduceLogo"/>
                <div class="opacity6"></div>
                <div class="productTime">
                    <p class="productDesc">
                        <span class="productTitle">二号私募投资基金会</span><br/>
                            <span class="productDescs">
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资， 投资投资白拿理财投资
                            </span>
                    </p>
                    起投金额：100万 /
                    产品期限：24+12个月
                </div>
            </li>
            <li class="productList survey">
                <img src="../../../images/img1.jpg" alt="" class="ProduceLogo"/>
                <div class="opacity6"></div>
                <div class="productTime">
                    <p class="productDesc">
                        <span class="productTitle">二号私募投资基金会</span><br/>
                            <span class="productDescs">
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资， 投资投资白拿理财投资
                            </span>
                    </p>
                    起投金额：100万 /
                    产品期限：24+12个月
                </div>
            </li>
            <li class="productList survey">
                <img src="../../../images/img1.jpg" alt="" class="ProduceLogo"/>
                <div class="opacity6"></div>
                <div class="productTime">
                    <p class="productDesc">
                        <span class="productTitle">二号私募投资基金会</span><br/>
                            <span class="productDescs">
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资， 投资投资白拿理财投资
                            </span>
                    </p>
                    起投金额：100万 /
                    产品期限：24+12个月
                </div>
            </li>
            <li class="productList survey">
                <img src="../../../images/img1.jpg" alt="" class="ProduceLogo"/>
                <div class="opacity6"></div>
                <div class="productTime">
                    <p class="productDesc">
                        <span class="productTitle">二号私募投资基金会</span><br/>
                            <span class="productDescs">
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资，领军者创业投行
                                投资投资白拿理财投资， 投资投资白拿理财投资
                            </span>
                    </p>
                    起投金额：100万 /
                    产品期限：24+12个月
                </div>
            </li>

            <!--<div class="productList" >-->
            <!--<img src="../../../images/img3.jpg" alt="" class="ProduceLogo"/>\-->
            <!--<div class="opacity6" @click="jump()"></div>-->
            <!--<div class="productTime">-->
            <!--<p class="productDesc">-->
            <!--<span class="productTitle">二号私募投资基金会</span><br/>-->
            <!--<span class="productDescs">-->
            <!--投资投资白拿理财投资，领军者创业投行-->
            <!--</span>-->
            <!--</p>-->
            <!--起投金额：100万 /-->
            <!--产品期限：24+12个月-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="productList">-->
            <!--<img src="../../../images/img.jpg" alt="" class="ProduceLogo"/>\-->
            <!--<div class="opacity6"></div>-->
            <!--<div class="productTime">-->
            <!--<p class="productDesc">-->
            <!--<span class="productTitle">二号私募投资基金会</span><br/>-->
            <!--<span class="productDescs">-->
            <!--投资投资白拿理财投资，领军者创业投行-->
            <!--投资投资白拿理财投资，领军者创业投行-->
            <!--</span>-->
            <!--</p>-->
            <!--起投金额：100万 /-->
            <!--产品期限：24+12个月-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="productList">-->
            <!--<img src="../../../images/img.jpg" alt="" class="ProduceLogo"/>\-->
            <!--<div class="opacity6"></div>-->
            <!--<div class="productTime">-->
            <!--<p class="productDesc">-->
            <!--<span class="productTitle">二号私募投资基金会</span><br/>-->
            <!--<span class="productDescs">-->
            <!--投资投资白拿理财投资，领军者创业投行-->
            <!--投资投资白拿理财投资，领军者创业投行-->
            <!--</span>-->
            <!--</p>-->
            <!--起投金额：100万 /-->
            <!--产品期限：24+12个月-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="productList">-->
            <!--<img src="../../../images/img.jpg" alt="" class="ProduceLogo"/>\-->
            <!--<div class="opacity6"></div>-->
            <!--<div class="productTime">-->
            <!--<p class="productDesc">-->
            <!--<span class="productTitle">二号私募投资基金会</span><br/>-->
            <!--<span class="productDescs">-->
            <!--投资投资白拿理财投资，领军者创业投行-->
            <!--投资投资白拿理财投资，领军者创业投行-->
            <!--</span>-->
            <!--</p>-->
            <!--起投金额：100万 /-->
            <!--产品期限：24+12个月-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="productList">-->
            <!--<img src="../../../images/img.jpg" alt="" class="ProduceLogo"/>\-->
            <!--<div class="opacity6"></div>-->
            <!--<div class="productTime">-->
            <!--<p class="productDesc">-->
            <!--<span class="productTitle">二号私募投资基金会</span><br/>-->
            <!--<span class="productDescs">-->
            <!--投资投资白拿理财投资，领军者创业投行-->
            <!--投资投资白拿理财投资，领军者创业投行-->
            <!--</span>-->
            <!--</p>-->
            <!--起投金额：100万 /-->
            <!--产品期限：24+12个月-->
            <!--</div>-->
            <!--</div>-->
        </ul>
    </div>
</div>



<!-- 调查问卷弹框-->
<div class="alertSurvey">
    <div class="js_dialog" id="iosDialog2" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <h3>尊敬的用户</h3>
            <div class="weui-dialog__bd">
                为了更好地为您提供符合您要求的资产配置服务，请您在开始投资前，填写《风险承受能力评测》问卷。
            </div>
            <div class="weui-dialog__ft">
                <a @click="riskTest()" class="weui-dialog__btn weui-dialog__btn_primary">去填写问卷</a>
            </div>
        </div>
    </div>
</div>
