.bgf8{
  background: #efeff4;
}
.panel{
  width: 92%;
  margin: 0 auto 0.2rem;
  box-shadow: 0 2px 5px #bbb;
}
.panel h2{
  padding: 0 0.18rem;
  line-height: 0.44rem;
}
.affair{
  background: #fff;
  padding: 0.18rem;
}
.noAffair{
  padding: 0;
  color: #ddd;
}
.colBlue{
  color: #547eef;
}
.haveAffair li{
  border-bottom: 1px solid #f5f5f5;
  padding: 0.05rem 0;
  font-size:0.14rem;
}
.haveAffair li:nth-last-child(1){
  border:none;
}
.haveAffair li i{
  color: #797979;
}
.wrap{
  height:100%;
  width:100%;
}
.editCalendar,.seeCalendar{
  background: #fff;
  margin-top: 0.6rem;
}
.remark{
  height: 0.75rem;
  border: none;
  resize: none;
  width:100%;
}

.seeCalendar li{
  min-height: 0.45rem;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 0.15rem;
  font-size:0.15rem;
  display: flex;
  align-items: center;
}
.seeCalendar li span{
  width: 30%;
}
.seeCalendar li i{
  flex: 1;
  color: #797979;
  padding: 0.05rem 0;
}